.site-bg_prism {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 11;

  overflow:overlay;
  animation-name: spin;
  animation-delay: 0s;

  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  
  
}


path {
  transition: 1.5s cubic-bezier(0.17, 0.67, 0, 1.1); }


  @keyframes spin {
    0% {
      transform: rotate(0deg);
   }
    100% {
      transform: rotate(360deg);
   }
 }
  .path1 {
   animation-delay: 0s;
    animation-name: banana1;
    animation-duration: 5s;
 }
  .path2 {
   animation-delay: 0s;

    animation-name: banana2;
    animation-duration: 5s;
 }
  .path3 {
   animation-delay: 0s;

    animation-name: banana3;
    animation-duration: 5s;
 }
  .path4 {
   animation-delay: 0s;

    animation-name: banana4;
    animation-duration: 5s;
 }
  .path5 {
   animation-delay: 0s;
    
    animation-name: banana5;
    animation-duration: 5s;
 }
  .path6 {
   animation-delay: 0s;

    animation-name: banana6;
    animation-duration: 5s;
 }
  .path7 {
   animation-delay: 0s;

    animation-name: banana7;
    animation-duration: 5s;
 }
  .path8 {
   animation-delay: 0s;

    animation-name: banana8;
    animation-duration: 5s;
 }
  .path9 {
   animation-delay: 0s;

    animation-name: banana9;
    animation-duration: 5s;
 }
  .path10 {
   animation-delay: 0s;

    animation-name: banana10;
    animation-duration: 5s;
 }
  .path11 {
   animation-delay: 0s;

    animation-name: banana11;
    animation-duration: 5s;
 }
  .path12 {
   animation-delay: 0s;

    animation-name: banana12;
    animation-duration: 5s;
 }
  .path13 {
   animation-delay: 0s;

    animation-name: banana13;
    animation-duration: 5s;
 }
  .path14 {
   animation-delay: 0s;

    animation-name: banana14;
    animation-duration: 5s;
 }
  .path15 {
   animation-delay: 0s;

    animation-name: banana15;
    animation-duration: 5s;
 }
  .path15 {
   animation-delay: 0s;

    animation-name: banana15;
    animation-duration: 5s;
 }
  .path16 {
   animation-delay: 0s;

    animation-name: banana16;
    animation-duration: 5s;
 }
  @keyframes banana1 {
    0% {
      transform: translate(8vw, -12vw);
   }
    100% {
      transform: translate(0px, 0px);
   }
 }
  @keyframes banana2 {
    0% {
      transform: translate(-2vw, -29vw);
   }
    100% {
      transform: translate(0px, 0px);
   }
 }
  @keyframes banana3 {
    0% {
      transform: translate(-22vw, -23vw);
   }
    100% {
      transform: translate(0px, 0px);
   }
 }
  @keyframes banana4 {
    0% {
      transform: translate(-27vw, 30vw);
   }
    100% {
      transform: translate(0px, 0px);
   }
 }
  @keyframes banana5 {
    0% {
      transform: translate(6vw, -27vw);
   }
    100% {
      transform: translate(0px, 0px);
   }
 }
  @keyframes banana6 {
    0% {
      transform: translate(5vw, 30vw);
   }
    100% {
      transform: translate(0px, 0px);
   }
 }
  @keyframes banana6 {
    0% {
      transform: translate(-20vw, -22vw);
   }
    100% {
      transform: translate(0px, 0px);
   }
 }
  @keyframes banana8 {
    0% {
      transform: translate(-27vw, 9vw);
   }
    100% {
      transform: translate(0px, 0px);
   }
 }
  @keyframes banana9 {
    0% {
      transform: translate(-23vw, 9vw);
   }
    100% {
      transform: translate(0px, 0px);
   }
 }
  @keyframes banana10 {
    0% {
      transform: translate(-22vw, -3vw);
   }
    100% {
      transform: translate(0px, 0px);
   }
 }
  @keyframes banana11 {
    0% {
      transform: translate(26vw, 20vw);
   }
    100% {
      transform: translate(0px, 0px);
   }
 }
  @keyframes banana12 {
    0% {
      transform: translate(-25vw, -17vw);
   }
    100% {
      transform: translate(0px, 0px);
   }
 }
  @keyframes banana13 {
    0% {
      transform: translate(-14vw, -8vw);
   }
    100% {
      transform: translate(0px, 0px);
   }
 }
  @keyframes banana14 {
    0% {
      transform: translate(-22vw, 23vw);
   }
    100% {
      transform: translate(0px, 0px);
   }
 }
  @keyframes banana15 {
    0% {
      transform: translate(-5vw, 7vw);
   }
    100% {
      transform: translate(0px, 0px);
   }
 }
  @keyframes banana16 {
    0% {
      transform: translate(-2vw, 29vw);
   }
    100% {
      transform: translate(0px, 0px);
   }
 }




.poponhover { 
  transition: transform .3s ease;
}

.poponhover:hover { 
  transform: translate3d(10%, 0%, 0);
 
}

.poponhover2 { 
  transition: transform .3s ease;
}

.poponhover2:hover { 
  transform: translate3d(-10%, 0%, 0);
 
}