$base: 1vw;

.site-bg_prism{ 
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;

  overflow:overlay;
   animation-name: spin;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

path { 
transition: 1.5s cubic-bezier(.17,.67,0,1.10) ;
}



.site-bg_prism:hover .path{ 
 transform: translate(0px,0px);
}

.site-bg_prism:not(:hover) .path1{ 
 transform: translate(random(20*$base)-10*$base, random(20*$base)-10*$base);
}


.site-bg_prism:not(:hover) .path2{ 
  transform: translate(random(20*$base)-10*$base, random(20*$base)-10*$base);
  
}

.site-bg_prism:not(:hover) .path3{ 
  transform: translate(random(20*$base)-10*$base, random(20*$base)-10*$base);
 
}

.site-bg_prism:not(:hover) .path4{ 
 transform: translate(random(20*$base)-10*$base, random(20*$base)-10*$base);
 
}

.site-bg_prism:not(:hover) .path5{ 
 transform: translate(random(20*$base)-10*$base, random(20*$base)-10*$base);
 
}

.site-bg_prism:not(:hover) .path6{ 
   transform: translate(random(20*$base)-10*$base, random(20*$base)-10*$base);
 
 
}

.site-bg_prism:not(:hover) .path7{ 
 transform: translate(random(20*$base)-10*$base, random(20*$base)-10*$base);
 
}

.site-bg_prism:not(:hover) .path8{ 
 transform: translate(random(20*$base)-10*$base, random(20*$base)-10*$base);
 
}

.site-bg_prism:not(:hover) .path9{ 
 transform: translate(random(20*$base)-10*$base, random(20*$base)-10*$base);
 
}

.site-bg_prism:not(:hover) .path10{ 
 transform: translate(random(20*$base)-10*$base, random(20*$base)-10*$base);
 
}

.site-bg_prism:not(:hover) .path11{ 
 transform: translate(random(20*$base)-10*$base, random(20*$base)-10*$base);

}

.site-bg_prism:not(:hover) .path12{ 
  transform: translate(random(20*$base)-10*$base, random(20*$base)-10*$base);
 
}


.site-bg_prism:not(:hover) .path13{ 
 transform: translate(random(20*$base)-10*$base, random(20*$base)-10*$base);
 
}


.site-bg_prism:not(:hover) .path14{ 
 transform: translate(random(20*$base)-10*$base, random(20*$base)-10*$base);

}


.site-bg_prism:not(:hover) .path15{ 
 transform: translate(random(20*$base)-10*$base, random(20*$base)-10*$base);
 
}


.site-bg_prism:not(:hover) .path16{ 
transform: translate(random(20*$base)-10*$base, random(20*$base)-10*$base);

}




@keyframes spin {
  0% {
    transform: rotate(0deg);
   
  }
 
  100% {
    transform: rotate(360deg);
   
  }
}





