$base: 3vw;

.site-bg_prism{ 
  overflow:overlay;
   animation-name: spin;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.site-bg_prism:hover{ 
  animation-duration: 2s;
  animation-timing-function: linear;
}

path { 
transition: 1.5s cubic-bezier(.17,.67,0,1.10) ;
}

body { 
background: black;
height: 100vh;
width:100%;}


.bg {
display:flex;
height: 100%;
justify-content: center;
align-items: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
   
  }
 
  100% {
    transform: rotate(360deg);
   
  }
}


.path1{ 
  animation-name:banana1;
  animation-duration: 2s; 
}


.path2{ 
  animation-name:banana2;
  animation-duration: 2s;
}

.path3{ 
 
  animation-name:banana3;
  animation-duration: 2s;
  
}

.path4{ 
 
  animation-name:banana4;
  animation-duration: 2s;
  
}

.path5{ 
 
  animation-name:banana5;
  animation-duration: 2s;
  
}

.path6{ 
 
  animation-name:banana6;
  animation-duration: 2s;
  
}

.path7{ 
 
  animation-name:banana7;
  animation-duration: 2s;
  
}

.path8{ 
 
  animation-name:banana8;
  animation-duration: 2s;
  
}

.path9{ 
 
  animation-name:banana9;
  animation-duration: 2s;
  
}

.path10{ 
 
  animation-name:banana10;
  animation-duration: 2s;
  
}

.path11{ 
 
  animation-name:banana11;
  animation-duration: 2s;
  
}

.path12{ 
 
  animation-name:banana12;
  animation-duration: 2s;
  
}

.path13{ 
 
  animation-name:banana13;
  animation-duration: 2s;
  
}

.path14{ 
 
  animation-name:banana14;
  animation-duration: 2s;
  
}

.path15{ 
 
  animation-name:banana15;
  animation-duration: 2s;
  
}

.path15{ 
 
  animation-name:banana15;
  animation-duration: 2s;
  
}

.path16{ 
 
  animation-name:banana16;
  animation-duration: 2s;
  
}

@keyframes banana1 {
  0% {
   transform: translate(random(20*$base)-10*$base, random(20*$base)-10*$base);
   
  }
 
  100% {
    transform: translate(0px,0px);
   
  }
}

@keyframes banana2 {
  0% {
   transform: translate(random(20*$base)-10*$base, random(20*$base)-10*$base);
   
  }
 
  100% {
    transform: translate(0px,0px);
   
  }
}

@keyframes banana3 {
  0% {
   transform: translate(random(20*$base)-10*$base, random(20*$base)-10*$base);
   
  }
 
  100% {
    transform: translate(0px,0px);
   
  }
}

@keyframes banana4 {
  0% {
   transform: translate(random(20*$base)-10*$base, random(20*$base)-10*$base);
   
  }
 
  100% {
    transform: translate(0px,0px);
   
  }
}

@keyframes banana5 {
  0% {
   transform: translate(random(20*$base)-10*$base, random(20*$base)-10*$base);
   
  }
 
  100% {
    transform: translate(0px,0px);
   
  }
}

@keyframes banana6 {
  0% {
   transform: translate(random(20*$base)-10*$base, random(20*$base)-10*$base);
   
  }
 
  100% {
    transform: translate(0px,0px);
   
  }
}
@keyframes banana6 {
  0% {
   transform: translate(random(20*$base)-10*$base, random(20*$base)-10*$base);
   
  }
 
  100% {
    transform: translate(0px,0px);
   
  }
}


@keyframes banana8 {
  0% {
   transform: translate(random(20*$base)-10*$base, random(20*$base)-10*$base);
   
  }
 
  100% {
    transform: translate(0px,0px);
   
  }
}

@keyframes banana9 {
  0% {
   transform: translate(random(20*$base)-10*$base, random(20*$base)-10*$base);
   
  }
 
  100% {
    transform: translate(0px,0px);
   
  }
}

@keyframes banana10 {
  0% {
   transform: translate(random(20*$base)-10*$base, random(20*$base)-10*$base);
   
  }
 
  100% {
    transform: translate(0px,0px);
   
  }
}

@keyframes banana11 {
  0% {
   transform: translate(random(20*$base)-10*$base, random(20*$base)-10*$base);
   
  }
 
  100% {
    transform: translate(0px,0px);
   
  }
}

@keyframes banana12 {
  0% {
   transform: translate(random(20*$base)-10*$base, random(20*$base)-10*$base);
   
  }
 
  100% {
    transform: translate(0px,0px);
   
  }
}

@keyframes banana13 {
  0% {
   transform: translate(random(20*$base)-10*$base, random(20*$base)-10*$base);
   
  }
 
  100% {
    transform: translate(0px,0px);
   
  }
}

@keyframes banana14 {
  0% {
   transform: translate(random(20*$base)-10*$base, random(20*$base)-10*$base);
   
  }
 
  100% {
    transform: translate(0px,0px);
   
  }
}

@keyframes banana15 {
  0% {
   transform: translate(random(20*$base)-10*$base, random(20*$base)-10*$base);
   
  }
 
  100% {
    transform: translate(0px,0px);
   
  }
}

@keyframes banana16 {
  0% {
   transform: translate(random(20*$base)-10*$base, random(20*$base)-10*$base);
   
  }
 
  100% {
    transform: translate(0px,0px);
   
  }
}



